@model mahallWebv3.Models.Subscription

@{
    ViewData["Title"] = "Mahall";
}

<h4>Yeni Normal Digital Mahalle</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/Sk2XXcR0jFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4" style="padding-top:30px">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
                <label asp-for="subscription_id" class="control-label"></label>
                <input asp-for="subscription_id" class="form-control" />
                <span asp-validation-for="subscription_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="il" class="control-label">Bulunduğunuz İl</label>
                <input asp-for="il" class="form-control" />
                <span asp-validation-for="il" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilce" class="control-label">Bulunduğunuz İlçe</label>
                <input asp-for="ilce" class="form-control" />
                <span asp-validation-for="ilce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
